[alias]
        # View the SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph
	# View the current working tree status using the short format
        s = status 
        # Diff
	diff = diff --patch-with-stat
	# Pull in remote changes for the current repository
        pl = pull
        # Push in remote changes for the current repository
        ps = push 
	# Clone a repository including all submodules
	c = clone --recursive
	# Commit all changes
	ca = !git add . && git added -u && git commit -a
	# Switch to a branch, creating it if necessary
	cb = checkout -B
	# Undo a `git push`
	undopush = push -f origin HEAD^:magentaaster
[core]
	editor = mvim -f
        quotepath = false
        excludesfile = ~/.gitignore
        attributesfile = ~/.gitattributes
[merge]
        log = true
# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
        remote = origin
        merge = refs/heads/master
[color]
        ui = auto
        interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = blue
	changed = green
	untracked = cyan
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = magenta red bold
        new = green bold
[github]
        user = username
        password = password
	token = public_key
[push]
	default = current
